<div class="form-card">
    <p>we r here</p>
    <div class="container " >
      <div class="row form-card1 m-5" *ngFor="let product of products">
        <h3 class="">{{product.productTitle}}</h3>
        <div class="col-12 col-sm-12 col-lg-6 p-5" >
          <img src={{details.img}}  width=100%>
        </div>
        <div class="col-12 col-sm-12 col-lg-6 ">
          <div class="row m-3">
            <div class="col-6 col-sm-6 col-lg-6">

            </div>
            <div class="col-6 col-sm-6 col-lg-6">
              <h5 class="float-right">{{product.auctionAmount}}</h5>
            </div>
          </div><hr>
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <p><b>Features</b></p>
            </div>
            <div class="col-12 col-sm-12 col-lg-12" *ngFor="let feature of product.productHiglight">
              <li>{{feature}}</li>
            </div>
          </div><hr>
          <div class="row m-3">
           <div class="col-12 col-sm-12 col-lg-12">
             <button class="btn btn-primary btn-block">BidNow</button>
           </div>
          </div>

        </div>
      </div>
    </div>
</div>
