<div class="container-fluid">
  <div class="row" >

      <homepage-baseform (onNext)="onNext($event)" (clearAll)="onClear()" class="col-12 col-sm-4 col-lg-4 pad-10" ></homepage-baseform>
      <homepage-products class="col-12 col-sm-8 col-lg-8  rounded pad-10"  *ngIf='out' style="overflow-y: auto;">
      </homepage-products>
      <homepage-expandedform [product]="product" (submitProduct)="submit($event)" class="col-12 col-sm-8 col-lg-8 rounded pad-10"*ngIf='!out'></homepage-expandedform>

    </div>
</div>
