<div id="content-wrapper">


  <div class="column" >
    <img id=featured class="changed" src={{data.images[0]}}>
    <div id="slide-wrapper" >
      <!-- <img id="slideLeft" class="arrow" src="../../assets/arrow-left.png"> -->
      <div id="slider" >
        <img class="thumbnail active" src={{image}} *ngFor="let image of data.images" (click)="getVal(image)">
      </div>
      <!-- <img id="slideRight" class="arrow" src="../../assets/arrow-right.png"> -->
    </div>
  </div>

  <div class="column">
    <div class="container">
      <div class="row section-box">
          <div  class="border col-sm-3 shadow-sm p-4 mb-4 bg-white">
            <p class="text-center mt-4" > 18:20:12  </p>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="border col-sm-8 shadow-sm p-4 mb-4 bg-white">
            <p class="float-left "> <b>Auction Price :</b> {{data.auctionAmount}}</p>
            <button type="button" class="rounded-lg w-100 btn btn-primary">Bid Now</button>
          </div>
      </div>
      <!-- <br> -->
      <div class=" border row section-box ">
        <div  class=" col-12 col-sm-7 shadow-sm p-2 mb-4 bg-white">
          <p  class=" float-right mt-4 " > <b>Flipcart Price :</b> {{data.price}}</p>
        </div>
        <div class="col-12 col-sm-1">

        </div>
        <div  class="col-12 col-sm-3 shadow-sm p-1 mb-4 bg-white">
          <button type="button" class="mt-4 float-left btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        </div>

    </div>
    <!-- <br> -->

    </div>
    <!-- <div class="container" >
      <div class="row">
        <div class = "col-12 col-sm-4 col-md-4">
          <p>Timer</p>
        </div>
        <div class = "col-12 col-sm-1 col-md-1">

        </div>
        <div class = "col-12 col-sm-7 col-md-7">

        </div>
      </div>

    </div> -->
    <!-- <h1>Awesome Shoes</h1>
    <hr>
    <h3>$89.99</h3>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <input value=1 type="number">
    <a class="btn btn-dark" href="#">Add to Cart</a> -->

  </div>
  <div class="container">
    <div class="row section-box ">
      <div class="col-12 col-sm-6">
      <p><b> Description : </b></p>
      <div class="border shadow-sm p-4 mb-4 bg-white col-sm-12">
        <p>{{data.productDescription}}</p>
      </div>
      </div>

  </div>
  <!-- <br> -->
    <div class="row section-box ">
      <div class="col-12 col-sm-12 col-lg-6">
      <p><b> Features : </b></p>
      <div  class="border shadow-sm p-4 mb-4 bg-white col-sm-12">
      <span *ngFor = "let feature of data.productFeatures"><li>{{feature.name}} : {{feature.value}}</li></span>
      </div>
      </div>

  </div>

  <!-- <br> -->
    <div class="row section-box ">
      <div class="col-12 col-sm-12 col-lg-6">
      <p> <b>Highlights : </b></p>
      <div  class="border shadow-sm p-4 mb-4 bg-white col-sm-12" >
      <span *ngFor="let prod of data.productHiglight let i=index"><li>{{prod}}</li></span>
      </div>
      </div>


  </div>
  </div>



</div>
